.header_wrapper {
  max-width: 1440px;
  min-width: 810px;
  width: 100%;
  height: 48px;
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: 600;
  margin-left: 30px;
}

.settings {
  margin-left: auto;
}